parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property OxidEsales\\\\EshopCommunity\\\\Application\\\\Model\\\\Category\\:\\:\\$oxcategories__.+\\.$#"
			count: 3
			path: src/DataObject/Category.php
